/*
Aufgabe: Aufgabe 5 - Bienenschwarm
Name: Kiara Luana Oßwald
Matrikel: 254140
Datum: 30.04.2017
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

canvas {
	border: 3px silver solid;
}