/*
Aufgabe: Abschlussaufgabe - Freie Arbeit
Name: Kiara Luana Oßwald
Matrikel: 254140
Datum: 14.07.2017
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/



body {
	font-family: 'Calligraffitti', cursive;
	background-color: #FFF8DC;
}

canvas {
	border: 5px solid;
	border-color: #990000;
	float: left;
	margin-right: 1em;
}


h2 {
	font-size: 60px;
	color: #F4A460;
}

div {
	font-size: 30px;
	color: #F4A460;
}


